<div class="col-md-8 blog-main">
  <h1>Blogs</h1>
  <%= link_to 'New Blog Entry', new_blog_path if logged_in?(:site_admin) %>
  <main role="main" class="container">
    <hr>
    <%= render @blogs %>
    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </nav>
  </main>
</div>



