<div class="col-md-8 blog-main">
  <h1>Blogs</h1>
  <%= link_to 'New Blog Entry', new_blog_path if logged_in?(:site_admin) %>
  <main role="main" class="container">
    <hr>
    <%= paginate @blogs %>
    
    <%= render @blogs %>

    <%= paginate @blogs %>

  </main>
</div>



