<div class="col-md-8 blog-main">
  <h1>Blogs</h1>
  <%= link_to 'New Blog Entry', new_blog_path if logged_in?(:site_admin) %>
  <main role="main" class="container">

    <h2><%= @blog.title %></h2>
    <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

    <p>
      <%= @blog.body %>
    </p>

  </main>
</div>

