<h1>Contact</h1>

<hr>
<div class="row">
    <div class="col-md-6">
        <h3> Office Address</h3>
        <p>Av. Córdoba 5779, C.A.B.A, Argentina, CP: C1414BBD</p>
        <h3>Phone</h3>
        <p> You can contact me via phone: <%= number_to_phone "55555555"%></p>
        <h3>Email:</h3>
        <p> Also you can contact me via: <a href="mailto:hugoabbate@gmail.com?subject=PortfolioContact">E-Mail</a> </p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.1775846207962!2d-58.442594711847896!3d-34.58619519467747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5f2ecca4651%3A0x884c34461273f86!2sAv.%20C%C3%B3rdoba%205779%2C%20C1414BBD%20CABA!5e0!3m2!1sen!2sar!4v1577981616601!5m2!1sen!2sar" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>